<hr class="top-divider">

<div class="container">

	<div class="row secondary-heading">
		<h3>Candidates' Spending Portal</h3>
		<p class="text-info">This search engine allows you to find out the spending by those seeking congressional seats.</p>
	</div>

	<form action="/finance/candidates" method="post">

	  <div class="form-group">
		  <div class="col-md-4">
		    <label for="fec_id" class="control-label">Candidate FEC id:</label>
		    <input type="text" class="form-control" placeholder="H6CA39020" name="fec_id" id="fec_id">
		  </div>  
		</div>

		<div class="form-group">
			<div class="col-md-4">
				<label for="office" class="control-label">Office:</label>
				<select name="office" class="form-control">
					<option value=""></option>
					<option value="H">House</option>
					<option value="S">Senate</option>
				</select>
			</div>
		</div>

		<div class="form-group">
		  <div class="col-md-4">
		    <label for="state" class="control-label">State:</label>
		    	<select name="state" class="form-control">
		    		<option value=""></option>
						<option value="AL">AL</option>
						<option value="AK">AK</option>
						<option value="AZ">AZ</option>
						<option value="AR">AR</option>
						<option value="CA">CA</option>
						<option value="CO">CO</option>
						<option value="CT">CT</option>
						<option value="DE">DE</option>
						<option value="DC">DC</option>
						<option value="FL">FL</option>
						<option value="GA">GA</option>
						<option value="HI">HI</option>
						<option value="ID">ID</option>
						<option value="IL">IL</option>
						<option value="IN">IN</option>
						<option value="IA">IA</option>
						<option value="KS">KS</option>
						<option value="KY">KY</option>
						<option value="LA">LA</option>
						<option value="ME">ME</option>
						<option value="MD">MD</option>
						<option value="MA">MA</option>
						<option value="MI">MI</option>
						<option value="MN">MN</option>
						<option value="MS">MS</option>
						<option value="MO">MO</option>
						<option value="MT">MT</option>
						<option value="NE">NE</option>
						<option value="NV">NV</option>
						<option value="NH">NH</option>
						<option value="NJ">NJ</option>
						<option value="NM">NM</option>
						<option value="NY">NY</option>
						<option value="NC">NC</option>
						<option value="ND">ND</option>
						<option value="OH">OH</option>
						<option value="OK">OK</option>
						<option value="OR">OR</option>
						<option value="PA">PA</option>
						<option value="RI">RI</option>
						<option value="SC">SC</option>
						<option value="SD">SD</option>
						<option value="TN">TN</option>
						<option value="TX">TX</option>
						<option value="UT">UT</option>
						<option value="VT">VT</option>
						<option value="VA">VA</option>
						<option value="WA">WA</option>
						<option value="WV">WV</option>
						<option value="WI">WI</option>
						<option value="WY">WY</option>
					</select>  
	   	 </div>

		<div class="form-group">
			<div class="col-md-4">
				<label for="term_class" class="control-label">Re-Election Year (Senate Only):</label>
				<select name="term_class" class="form-control">
					<option value=""></option>
					<option value="1">2018</option>
					<option value="3">2016</option>
					<option value="2">2014</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-4">
				<label for="party" class="control-label">Party:</label>
				<select name="party" class="form-control">
					<option value=""></option>
					<option value="D">Democrat</option>
					<option value="I">Independent</option>
					<option value="R">Republican</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-4">
				<label for="is_incumbent" class="control-label">Incumbent?</label>
				<select name="is_incumbent" class="form-control">
					<option value=""></option>
					<option value="False">False</option>
					<option value="True">True</option>
				</select>
			</div>
		</div>
		
	  <div class="row btn-container">
	  	<button class="btn btn-default btn-lg">Search<span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
	  </div>

		</div>
	</form>
</div>


<script>
  $(function() {
    $( "#start_date" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 1,
      onClose: function( selectedDate ) {
        $( "#end_date" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    $( "#end_date" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 1,
      onClose: function( selectedDate ) {
        $( "#start_date" ).datepicker( "option", "maxDate", selectedDate );
      }
    });
  });
  </script>

