
<hr class="top-divider">

<div class="container">
	<div class="row">
		<h3 class="secondary-heading">Finance <small> Congressional District Spending</small></h3>		
		<p class="text-info">This search engine allows you to find out spending by organizations classified by the Federal Election Commission (FEC) as outside-spenders. To see a breakdown of these types of organizations visit <a href="http://www.fec.gov/finance/disclosure/metadata/CommitteeTypeCodes.shtml">the FEC's website</a>.</p>
	</div>

	<form action="/finance/outside-spenders" method="post">

		<div class="form-group">
			<div class="col-md-4">
				<label for="ctype" class="control-label">FEC Committee Type:</label>
				<select name="ctype" class="form-control">
					<option value="C">Communication Cost</option>
					<option value="D">Delegate Committee</option>
					<option value="E">Electioneering Communication</option>
					<option value="H">House Campaign Committees</option>
					<option value="I">Independent Person/Group</option>
					<option value="N">PAC (Nonqualified)</option>
					<option value="O">Super PACs</option>
					<option value="P">Presidential Campaign Committees</option>
					<option value="Q">PAC (Qualified)</option>
					<option value="S">Senate Campaign Committees</option>
					<option value="U">Single Candidate Expenditure</option>
					<option value="V">PAC with Non-contribution Accounts (Nonqualified)</option>
					<option value="W">PAC with Non-contribution Accounts (Qualified)</option>
					<option value="X">Party Committees (Nonqualified)</option>
					<option value="Y">Party (Qualified)</option>
					<option value="Z">National Party Non-federal Accounts</option>
				</select>
			</div>

			<div class="col-md-4">
				<label for="fec_id" class="control-label">FEC ID:</label>
				<input type="text" class="form-control" name="fed_ic" id="fec_id">
			</div>

			<div class="col-md-4">
		    <label class="control-label" for="min-ies">Min. Amt Spent during 2014 Cycle:</label>
		    <div class="input-group">
		      <div class="input-group-addon">$</div>
		      	<input type="number" min="0" class="form-control" id="min-ies" placeholder="Amount">
		      <div class="input-group-addon">.00</div>
		    </div>
		  </div>
		</div>
			
	  <div class="row btn-container">
	  	<button class="btn btn-default btn-lg">Search<span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
	  </div>
	</form>
</div>
