<hr class="top-divider">

<div class="container">

	<div class="row secondary-heading">
		<h3>Political Action Committee (PAC) Spending</h3>
		<p class="text-info">This search engine returns information about candidate committees, leadership PACs, joint fundraising PACs, super PACs, party committees and corporate PACs. </p>	
	</div>

	<form action="/finance/pacs" method="post">

		<div class="form-group">
			<div class="col-md-6">
				<label for="ctype" class="control-label">FEC Committee Type:</label>
				<select name="ctype" class="form-control">
					<option value="C">Communication Cost</option>
					<option value="D">Delegate Committee</option>
					<option value="E">Electioneering Communication</option>
					<option value="H">House Campaign Committees</option>
					<option value="I">Independent Person/Group</option>
					<option value="N">PAC (Nonqualified)</option>
					<option value="O">Super PACs</option>
					<option value="P">Presidential Campaign Committees</option>
					<option value="Q">PAC (Qualified)</option>
					<option value="S">Senate Campaign Committees</option>
					<option value="U">Single Candidate Expenditure</option>
					<option value="V">PAC with Non-contribution Accounts (Nonqualified)</option>
					<option value="W">PAC with Non-contribution Accounts (Qualified)</option>
					<option value="X">Party Committees (Nonqualified)</option>
					<option value="Y">Party (Qualified)</option>
					<option value="Z">National Party Non-federal Accounts</option>
				</select>
			</div>

			<div class="col-md-6">
				<label for="fec_id" class="control-label">FEC ID:</label>
				<input type="text" class="form-control" name="fec_id">
			</div>
		</div>

		<div class="form-group">		
			<div class="col-md-4">
			    <label class="control-label" for="min_raised">Min. Amt Spent during 2014 Cycle:</label>
			    <div class="input-group">
			      <div class="input-group-addon">$</div>
		      		<input type="number" min="0" name="min_raised" id="min_raised" class="form-control" placeholder="Amount">
		      		<div class="input-group-addon">.00</div>
		    	</div>
		 	</div>

			<div class="col-md-4">
				<label class="control-label" for="min_spent">Min. Spent during 2014 Cycle:</label>
				<div class="input-group">
					<div class="input-group-addon">$</div>
					<input type="number" min="0" name="min_spent" id="min_spent" class="form-control" placeholder="Amount">
					<div class="input-group-addon">.00</div>
				</div>
			</div>

			<div class="col-md-4">
				<label class="control-label" for="min_coh">Min. Cash on Hand</label>
				<div class="input-group">
					<div class="input-group-addon">$</div>
					<input type="number" min="0" name="min_coh" id="min_coh" class="form-control" placeholder="Amount">
					<div class="input-group-addon">.00</div>
				</div>
			</div>
		</div>
			
	  <div class="row btn-container">
	  	<button class="btn btn-default btn-lg">Search<span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
	  </div>

	</form>
</div>