<!-- Heading for Result Pages -->

<% if !@delimiters.empty? %>
<p class="limiters">Your results were limited to:</p>	
	<ul>
	<% @delimiters.split(',').each do |line|  %>
		<li><%= line %></li>
	<% end %>
	</ul>
<% end %>

<h3>Result Count: <%= @result.count %></h3>

