.row.img-banner-about.img-fade
.container
  %h3 About
  %h4.sub-heading What is it?
  %p.text-info The Political Research Engine (PRE) is a set of search engines that the public can use to research important issues across the American political system. It features five main portals that explore a particular area of politics: congressional documents, representatives, bills, polls, and finances.
  %h4.sub-heading Where does your data come from?
  %p.text-info PRE uses open source, publicly available data from many different sources including Opensecrets, the official congressional record, polling releases, and more.  Data is routed through the Sunlight Foundation, Huffington Post, and govtrack.us.  
  %h4.sub-heading Why use it?
  %p.text-info PRE believes that information should be more easily accessible to more people.  While tools exists to search polling, Congressional sessions, campaign finance, they are often cumbersome, hard to use or just simply not as well known.  Also, PRE is an open-source project which means that all of its code is publicly accessible meaning that anyone can request changes and submit ideas.
  %h4.sub-heading What does PRE plan to do in the future?
  %p.text-info PRE plans to expand into tapping into more sources of information such as international data, create better user interfaces, and make the information more sortable, visible and digestable.


