

<div class="row img-banner-about"></div>

<div class="container">
	<h3>About</h3>

	<h4 class="sub-heading">What is it?</h4>
	<p class="text-info">The Political Research Engine (PRE) is a full-featured search engine that allows those curious to become better informed citizens of American Democracy.  It features five main portals that explore a particular area of politics: congressional documents, representatives, bills, polls, and finances. </p>


	<h4 class="sub-heading">Where does your data come from?</h4>
	<p class="text-info">The data that PRE uses Sunlight Foundation's Application Programming Interface or API in order to request data.  The data from Sunlight Foundation, a non-profit, non-partisan organization that advocates for transparency, comes from many different sources including OpenSecrets, FEC filings, and the Congressional Record which is the offical record of debates as they happen in the Congress of the United States.  Polling data is pulled using Huffington Post's API which in turn uses many prominent polling organizations such as Gallop, Rasmussen, Landmark, etc.</p>


	<h4 class="sub-heading">Why use it?</h4>
	<p class="text-info">PRE believes that information should be more easily accessible to more people.  While tools exists to search polling, Congressional sessions, campaign finance, they are often cumbersome, hard to use or just simply not as well known.  Also, PRE is an open-source project which means that all of its code is publicly accessible meaning that anyone can request changes and lead to a better experience!</p>

	<h4 class="sub-heading">What does PRE plan to do in the future?</h4>
	<p class="text-info">PRE plans to expand into tapping into more sources of information such as international data, create better user interfaces, and make the information more sortable, visible and digestable.</p>
</div>


