<div class="row">
	<img class="img img-responsive img-fade img-smaller img-full-width" src="css/images/financialportalbanner.jpg">
</div>

<div class="container">

	<div class="row">
		<h3 class="secondary-heading">Finance <small> Divided into Four Categories</small></h3>
	</div>


		<ol class="menu-list">
			<li><a href="/finance/candidates">Spending by <span class="lightyellow">candidates</span> for federal office</a></li>

			<li><a href="/finance/districts">Spending by <span class="lightyellow">congressional districts</span></a></li>

			<li><a href="/finance/outside-spenders">Spending by <span class="lightyellow">non-profits, LLC's, unions and individuals</span></a></li>

			<li><a href="/finance/pacs">Spending by <span class="lightyellow">PACs</span></a></li>
		</ol>
	</div>
</div>