.row.img-banner-finance.img-fade
.container
  .row
    %h3.secondary-heading
      Finance
      %small Divided into Four Categories
  %ol.menu-list
    %li
      %a{:href => "/finance/candidates"}
        Spending by
        %span.lightyellow candidates
        for federal office
    %li
      %a{:href => "/finance/districts"}
        Spending by
        %span.lightyellow congressional districts
    %li
      %a{:href => "/finance/outside_spenders"}
        Spending by
        %span.lightyellow non-profits, LLC's, unions and individuals
    %li
      %a{:href => "/finance/pacs"}
        Spending by
        %span.lightyellow PACs