<h2>Finance</h2>

<p>Information on campaign finance is divided into the following topics:</p>

<ul>
	<li><a href="/finance/candidates">Spending by candidates for federal office</a></li>
	<li><a href="/finance/districts">Spending by congressional districts</a></li>
	<li><a href="/finance/outside-spenders">Spending by non-profits, LLC's, unions and individuals</a></li>
	<li><a href="/finance/pacs">Spending by political action committees</a></li>
</ul>