
<h3 class="text-center">I want to...</h3>

<ul id="menu-main">
	<li><a href="/textsearch">Find what politicians are saying or have said</a></li>
	<li><a href="/legislators">Find out who represents what</a></li>
	<li><a href="/bills">Find out what's being voted on or introduced</a></li>
	<li><a href="/finance">Track the money</a></li>
</ul>


