<div class="row">
	<img class="img img-fade img-responsive img-full-width" src="css/images/coverphoto.jpg">
</div>

<h3 class="text-center main-secondary-heading">I want to <span id="word-spin">search</span>...</h3>

<div id="main-menu">
	<div class="row">
		<div class="col-md-1 empty"></div>
		<a href="/textsearch" ><div id="menu-speaking" class="col-md-2 text-center menu-item">
			<img id="svg-speaking" class="img img-responsive svg" src="icons/speaking.svg" />
			<p>Congressional Records</p>
		</div></a>
		<a href="/legislators"><div id="menu-politician" class="col-md-2 text-center menu-item">
			<img id="svg-politician" class="img img-responsive svg" src="icons/politician.svg" />
			<p>Representatives</p>
		</div></a>
		<a href="/bills"><div id="menu-congress" class="col-md-2 text-center menu-item">
			<img id="svg-congress" class="img img-responsive svg" src="icons/congress.svg" />
			<p>Legislation</p>
		</div></a>
		<a href="/polls"><div id="menu-poll" class="col-md-2 text-center menu-item">
			<img id="svg-poll" class="img img-responsive svg" src="icons/poll.svg" />
			<p>Polling Data</p>
		</div></a>
		<a href="/finance"><div id="menu-money" class="col-md-2 text-center menu-item">
			<img id="svg-money" class="img img-responsive svg" src="icons/money.svg" />
			<p>Campaign Finance</p>
		</div></a>
		<div class="col-md-1 empty"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h3 class="text-center display-link"><a href="/about">About</a></h3>
	</div>
</div>


