!!!
%html
  %head
    %title Political Research Engine | Powering Better Citizens, Stronger Democracy
    / General Meta Tags
    %meta{:charset => "UTF-8"}
    %meta{:description => "Political Research Engine to Inform and Empower Citizens."}
    %meta{:content => "Research, Democracy, Citizenship", :name => "keywords"}
    / Facebook/Google + OpenGraph Tags
    %meta{:content => "https://polifact.herokuapp.com/", :property => "og:url"}
    %meta{:content => "images/coverphoto.jpg", :property => "og:image"}
    %meta{:content => "A free, open-source search engine to empower citizenship and encourage becoming active in the American political process", :property => "og:description"}
    %meta{:content => "Getting Started", :property => "og:title"}
    %meta{:content => "Political Research Engine", :property => "og:site_name"}
    / Twitter Tags
    %meta{:content => "A powerful, open-source, free and easy search engine to empower citizenship. ", :name => "twitter:card"}
    %meta{:content => "https://polifact.herokuapp.com/", :name => "twitter:url"}
    %meta{:content => "Political Research Engine", :name => "twitter:title"}
    %meta{:content => "Research bills, representatives, polls and track the money in politics.", :name => "twitter:description"}
    %meta{:content => "images/coverphoto.jpg", :name => "twitter:image"}
    / bootstrap
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", :rel => "stylesheet"}/
    / fonts 
    %link{:href => "https://fonts.googleapis.com/css?family=Raleway:500|Open+Sans:400,700", :rel => "stylesheet", :type => "text/css"}/
    / stylesheets
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/jqueryui.min.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/styles.css'}
    / jquery
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"}
    %script{:src => url("/js/tooltip.min.js"), :type => "text/javascript"}
    %script{:src => url("/js/app.js"), :type => "text/javascript"}
    / jqueryui
    %script{:src => url("/js/jqueryui.min.js"), :type => "text/javascript"}
    / Graphics
    %script{:src => url("/js/chart.min.js"), :type => "text/javascript"}
    / favicons
    %link{:href => "icons/favicomatic/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "icons/favicomatic/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    / ga
    %script{:src => url("/js/ga.js"), :type => "text/javascript"}
  %body
    / Site container
    #container
      %nav.navbar.navbar-default
        .container-fluid
          .row
            .col-md-12.text-center
              %a{:href => "/"}
                %img#navbar-brand.img.img-responsive.svg{:src => url("/icons/congress.svg")}/
          .row.text-center.navbar-navigation
            .col-md-2.navbar-item
              %a{:href => "/textsearch"} C. Records
            .col-md-2.navbar-item
              %a{:href => "/bills"} Legislation
            .col-md-2.navbar-item
              %a{:href => "/finance"} Finance
            .col-md-2.navbar-item
              %a{:href => "/polls"} Polling
            .col-md-2.navbar-item
              %a{:href => "/legislators"} Representatives
            .col-md-2.navbar-item
              %a{:href => "/about"} About
      #content-wrapper
        = yield
      %hr/
      %footer.footer
        %p.muted.text-center
          Web Design by
          %a{:href => "http://www.kelloggwebstudio.com"} Kellogg Web Studio
        %a{:href => "/"}
          %p.text-center
            %span.glyphicon.glyphicon-home{"aria-hidden" => "true"}

