.row.img-banner-legislators.img-fade
.container
  .row.secondary-heading
    %h3 Legislator Lookup
    %p.text-info
      This search engine allows you to find out who represents districts/states.
      = succeed "Use" do
        %br/
  %form.form-horizontal{:action => "/legislators", :method => "post"}
    .form-group
      .col-md-6
        %label.control-label{:for => "first_name"} First Name:
        %input#first_name.form-control{:name => "first_name", :type => "text"}/
      .col-md-6
        %label.control-label{:for => "last_name"} Last Name:
        %input#last_name.form-control{:name => "last_name", :type => "text"}/
    .form-group
      .col-md-4
        %label.control-label{:for => "party"} Party:
        %select#party.form-control{:name => "party"}
          %option{:value => ""}
          %option{:value => "D"} Democrat
          %option{:value => "I"} Independent
          %option{:value => "R"} Republican
      .col-md-4
        %label.control-label{:for => "state"} State:
        %select#state.form-control{:name => "state"}
          %option{:value => ""} All
          %option{:value => "AL"} AL
          %option{:value => "AK"} AK
          %option{:value => "AZ"} AZ
          %option{:value => "AR"} AR
          %option{:value => "CA"} CA
          %option{:value => "CO"} CO
          %option{:value => "CT"} CT
          %option{:value => "DE"} DE
          %option{:value => "DC"} DC
          %option{:value => "FL"} FL
          %option{:value => "GA"} GA
          %option{:value => "HI"} HI
          %option{:value => "ID"} ID
          %option{:value => "IL"} IL
          %option{:value => "IN"} IN
          %option{:value => "IA"} IA
          %option{:value => "KS"} KS
          %option{:value => "KY"} KY
          %option{:value => "LA"} LA
          %option{:value => "ME"} ME
          %option{:value => "MD"} MD
          %option{:value => "MA"} MA
          %option{:value => "MI"} MI
          %option{:value => "MN"} MN
          %option{:value => "MS"} MS
          %option{:value => "MO"} MO
          %option{:value => "MT"} MT
          %option{:value => "NE"} NE
          %option{:value => "NV"} NV
          %option{:value => "NH"} NH
          %option{:value => "NJ"} NJ
          %option{:value => "NM"} NM
          %option{:value => "NY"} NY
          %option{:value => "NC"} NC
          %option{:value => "ND"} ND
          %option{:value => "OH"} OH
          %option{:value => "OK"} OK
          %option{:value => "OR"} OR
          %option{:value => "PA"} PA
          %option{:value => "RI"} RI
          %option{:value => "SC"} SC
          %option{:value => "SD"} SD
          %option{:value => "TN"} TN
          %option{:value => "TX"} TX
          %option{:value => "UT"} UT
          %option{:value => "VT"} VT
          %option{:value => "VA"} VA
          %option{:value => "WA"} WA
          %option{:value => "WV"} WV
          %option{:value => "WI"} WI
          %option{:value => "WY"} WY
      .col-md-4
        %label.control-label{:for => "district"} District Number:
        %input#district.form-control{:name => "district", :type => "number"}/
    .form-group
      .col-md-4
        %label.control-label{:for => "chamber"} Chamber:
        %select#chamber.form-control{:name => "chamber"}
          %option{:value => ""}
          %option{:value => "house"} House
          %option{:value => "senate"} Senate
      .col-md-4
        %label.control-label{:for => "in_office"} Incumbent?
        %select#in_office.form-control{:name => "in_office"}
          %option{:value => ""}
          %option{:value => "false"} No
          %option{:value => "true"} Yes
      .col-md-4
        %label.control-label{:for => "gender"} Gender:
        %select#gender.form-control{:name => "gender"}
          %option{:value => ""}
          %option{:value => "F"} Female
          %option{:value => "M"} Male
    .form-group
      .col-md-6
        %label.control-label{:for => "term_start"} Term Start:
        %input#term_start.form-control{:name => "term_start", :type => "text"}/
      .col-md-6
        %label.control-label{:for => "term_end"} Term End:
        %input#term_end.form-control{:name => "term_end", :type => "text"}/
    .row.btn-container
      %button.btn.btn-default.btn-lg{:type => "submit"}
        Search
        %span.glyphicon.glyphicon-search{"aria-hidden" => "true"}
:javascript
  $(function() {
    $( "#term_start" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 1,
      onClose: function( selectedDate ) {
        $( "#term_start" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    $( "#term_end" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 1,
      onClose: function( selectedDate ) {
        $( "#term_end" ).datepicker( "option", "maxDate", selectedDate );
      }
    });
  });