.row.img-banner-polls.img-fade
.container
  .secondary-heading
    %h3 Polling Data
    %p.text-info This search engine allows you to find polls relating to national elections.  The data comes from many different polls including Gallop, Rasmussen, Landmark, and others. Note that polling data only goes back to 2004. Note also that because of the way the polls are conducted a search for the 2016 Dem. Primary will typically include GOP data as well because polling companies often will include corollary topics.
  %form{:action => "/polls", :method => "post"}
    .form-group
      .col-md-4
        %label.control-label{:for => "topic"} Topic:
        %select#topic.form-control{:name => "topic"}
          %optgroup{:label => "Gubernatorial"}
            %option{:value => "2014-governor"} 2014: General
            %option{:value => "2014-governor-dem-primary"} 2014: Dem Primary
            %option{:value => "2014-governor-gop-primary"} 2014: GOP Primary
            %option{:value => "2013-governor"} 2013: General
            %option{:value => "2012-governor"} 2012: General
            %option{:value => "2012-governor-dem-primary"} 2012: Dem Primary
            %option{:value => "2012-governor-gop-primary"} 2012: GOP Primary
          %optgroup{:label => "House"}
            %option{:value => "2014-house"} 2014: General
            %option{:value => "2013-house"} 2013: General
            %option{:value => "2012-house"} 2012: General
          %optgroup{:label => "Presidential"}
            %option{:value => "obama-job-approval"} Approval Ratings
            %option{:value => "favorable-ratings"} Favorable Ratings
            %option{:value => "2016-president"} 2016: General
            %option{:value => "2016-president-dem-primary"} 2016: Dem Primary
            %option{:value => "2016-president-gop-primary"} 2016: GOP Primary
            %option{:value => "2012-president"} 2012: General
          %optgroup{:label => "Senatorial"}
            %option{:value => "2016-senate-dem-primary"} 2016: Dem Primary
            %option{:value => "2014-senate"} 2014: General
            %option{:value => "2014-senate-primary"} 2014: Primary
            %option{:value => "2014-senate-dem-primary"} 2014: Dem Primary
            %option{:value => "2014-senate-gop-primary"} 2014: GOP Primary
            %option{:value => "2013-senate"} 2013: General
            %option{:value => "2013-senate-dem-primary"} 2013: Dem Primary
            %option{:value => "2013-senate-gop-primary"} 2013: GOP Primary
            %option{:value => "2012-senate"} 2012: General
            = succeed "\"2012-senate-dem-primary\">2012:" do
              %option
          %option{:value => "2012-senate-gop-primary"} 2012: GOP Primary
  .form-group
    .col-md-4
      %label.control-label{:for => "after"} From:
      %input#after.form-control{:name => "after", :type => "text"}
    .form-group
      .col-md-4
        %label.control-label{:for => "before"} To:
        %input#before.form-control{:name => "before", :type => "text"}
    .row.btn-container
      %button.btn.btn-default.btn-lg
        Search
        %span.glyphicon.glyphicon-search{"aria-hidden" => "true"}
:javascript
  $(function() {
    $( "#after" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 1,
      onClose: function( selectedDate ) {
        $( "#after" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    $( "#before" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 1,
      onClose: function( selectedDate ) {
        $( "#before" ).datepicker( "option", "maxDate", selectedDate );
      }
    });
  });