<h1>Full Congressional Text Search</h1>

<h3>How it works</h3>
<p>Explanation for how it works</p>	


<form action="/textsearch" method="post">
	<label for="phrase">Phrase to Search for:</label>
	<input type="text" name="phrase" id="phrase">
	
	<button type="submit">Search</button>
	
</form>

	