/* General */

body {
	background-color: #fff;
}


/* Navigation */


.result-item {	
	margin: 10px;
	line-height: 1.4em;
}

.result-heading {
	font-size: 1.2em;
	font-weight: bold;
}

.result-text { 
	font-style: italic;

}

.result-item:nth-of-type(even) {
	background-color: #CCC;
}

/* Typography */
h1, h3, p, li {
	font-family: 'Raleway', sans-serif;
}

h1 {
	color: white;
	font-family: 'Droid Serif', serif;
	font-weight: 700;
}

.main-title {
	font-size: 2em;
	color: #fffaf0;
}

.main-secondary-heading {
	margin-top: 55px;
}

.sub-heading {
	font-weight: bold;
}

.text-loan {
	color: red;
}

.text-cash {
	color: darkgreen;
}

.text-info {
	font-variant: italic;
	font-weight: bold;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

.result-number {
	font-size: 18px;
}

#top-panel {
	background-color: #680000;
}

.secondary-heading {
	padding: 5px;
	margin-left: 20px;
}

/* Links */

#link-home {
	margin-top: 50px;
	border: 2px solid #680000;
	border-radius: 5px;
	padding: 8px 35px;
	text-decoration: none;
}

#link-home:hover {
	background-color: #680000;
	color: #FFFAF0;
}

#link-home a {
	color: #680000; 
}
#link-home:hover a {
	text-decoration: none;
	color: #FFFAF0;
}

#link-home:visited {
	color: #680000;
	background-color: white;
}

a {
	color: black;
	font-size: 1em;
}

.display-link {
	font-size: 24px;
}


/* Main Page */
.menu-item {	
	min-height: 120px;
	padding-top: 30px;
	padding-bottom: 30px;
}


#main-menu {
	margin-top: 50px;
	padding: 10px;
	cursor: pointer;
}
/* images */

.svg:hover path {
    fill: darkgreen;
}

#svg-congress:hover path {
	fill: #2a003e;
}

#svg-speaking:hover path {
	fill: red;
}

#svg-politician:hover path {
	fill: violet;
}

#svg-poll:hover path {
	fill: silver;
}

.svg {
	max-height: 125px;
	max-width: 100px;
}

.menu-item a,
.menu-item p {
	color:  black;
	font-size: 1.1em;
}


.img {
	margin: auto;
}



/* Forms */


input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px; 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Buttons */

.btn-container {
	text-align: center;
}

.btn {
	width: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px solid #680000;
	color: #680000;
	background-color: #FFF;
}
.btn:hover {
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
	-webkit-transition-property: background-color;
	-moz-transition-property: background-color;
	-ms-transition-property: background-color;
	-o-transition-property: background-color;
	transition-property: background-color;	
	background-color: #680000;
	color: white;
}

/* Tables */
.table-heading {
	border-bottom: 2px solid darkgray;
}

.table-sub-heading {
	height: 36px;
	text-decoration: underline;
	letter-spacing: 2px;
	font-size: 18px;
	color: darkblue;
}

.table-title {
	font-weight: bold;
	width: 100px;
}

.table-content {
	text-align: left;
}

td {
	white-space: nowrap;
}

/* Footer */

.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 60px;
	box-sizing: border-box;
}

/* Widgets */

.tooltip.top .tooltip-inner {
    background-color: #000;
}
.tooltip.top .tooltip-arrow {
      border-top-color: #000;
}

canvas {
	display: inline-block;
}

/* Icons */

.glyphicon.glyphicon-home {
    font-size: 4em;
    color: white;
}

@media(max-width:767px){
	.main-title {
		font-size: 1em;
	}
}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}
