.result-item {
	margin: 10px;
	line-height: 1.4em;
}

.result-heading {
	font-size: 1.2em;
	font-weight: bold;
}

.result-text { 
	font-style: italic;

}

.result-item:nth-of-type(even) {
	background-color: #CCC;
}

/* Typography */
h1, h3, p, li {
	font-family: 'Raleway', sans-serif;
}

h1 {
	color: #FFFAF0;
}

#top-panel {
	background-color: #680000 ;
}

#link-home {
	margin-top: 50px;
	border: 2px solid #680000;
	border-radius: 5px;
	padding: 8px 35px;
	text-decoration: none;
}

#link-home:hover {
	background-color: #680000;
	color: #FFFAF0;
}

#link-home a {
	color: #680000; 
}
#link-home:hover a {
	text-decoration: none;
	color: #FFFAF0;
}

#link-home:visited {
	color: #680000;
	background-color: white;
}

/* Lists */
#menu-main {
	margin: 30px auto;
}

#menu-main li {
	text-indent: 30%;
	list-style-type: none;
	line-height: 2.4em;
}







