%hr.page-divider
.container
  .row
    %a.btn.btn-default{:href => "/bills"}
      %span.glyphicon.glyphicon-arrow-left{"aria-hidden" => "true"}
      Search again?
    = haml '_delimiters'.to_sym
    - if @result.any?
      - @result.each_with_index do |result, index|
        .col-md-12
          %p.result-number=index + 1
          %table.table.table-striped.table-hover.table-condensed
            %tr
              %th.table-heading{:colspan => "15"}
                = result["congress"]

